* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
textarea {
  outline: none;
}
.cp__title {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.48rem;
  font-weight: 400;
  background: #000;
  color: #fff;
}
.btn {
  text-align: center;
  margin-top: 1.33rem;
}
.btn .btn__js {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  border-radius: 0.11rem;
}
.btn .cp-tag {
  margin-top: 0.4rem;
}
.form {
  padding: 0.67rem;
}
.mission {
  background: url("../img/bg.png");
}
.mission .clrcle {
  position: absolute;
  width: 87%;
  bottom: -0.77rem;
  z-index: 22;
}
.mission .title {
  text-align: center;
}
.mission .title img {
  width: 95%;
  margin-top: 0.24rem;
}
.mission .miss-pro {
  position: relative;
  text-align: center;
}
.mission .miss-pro .pro-stit {
  width: 90%;
  height: 3.92rem;
  margin-top: 0.27rem;
}
.mission .miss-pro .pro-jdt {
  position: absolute;
  width: 8rem;
  height: 0.75rem;
  top: 2.19rem;
  left: 1.01rem;
  background: #75f8ff;
  border: 0.05rem solid #000;
  border-radius: 0.53rem;
  z-index: 11;
}
.mission .miss-pro .pro-red {
  position: absolute;
  top: 2.33rem;
  left: 1.2rem;
  width: 7.76rem;
  height: 0.56rem;
  background: #f13f6c;
  z-index: 22;
  border-radius: 0.53rem;
}
.mission .miss-pro .pro-dingz {
  position: absolute;
  top: 2.85rem;
  left: 2.27rem;
  width: 5.54rem;
  z-index: 33;
}
.mission .miss-pro .pro-day {
  position: absolute;
  width: 100%;
  top: 2.44rem;
  padding: 0 0.29rem;
  font-weight: 600;
  z-index: 44;
  font-size: 0.27rem;
}
.mission .miss-pro .pro-day li {
  display: inline-block;
  margin-right: 0.45rem;
}
.mission .miss-pro .self {
  position: absolute;
  top: 1.33rem;
  left: 1.39rem;
  z-index: 55;
}
.mission .miss-pro .self .self-bg {
  width: 0.75rem;
  height: 1.07rem;
}
.mission .miss-pro .self .self-ava {
  position: absolute;
  top: 0.13rem;
  left: 0.11rem;
  width: 0.53rem;
  height: 0.53rem;
  background-color: #000;
  border-radius: 2.64rem;
}
.mission .miss-pro .ta {
  position: absolute;
  top: 2.83rem;
  left: 1.39rem;
  z-index: 55;
}
.mission .miss-pro .ta .ta-bg {
  width: 0.75rem;
  height: 1.07rem;
}
.mission .miss-pro .ta .ta-ava {
  position: absolute;
  top: 0.43rem;
  left: 0.11rem;
  width: 0.53rem;
  height: 0.53rem;
  background-color: #000;
  border-radius: 2.64rem;
}
.mission .miss-rule {
  position: relative;
  margin: 0.53rem;
  padding: 1.44rem 0.53rem 0.53rem;
  border: 0.05rem solid #000;
  border-radius: 0.11rem;
  background: #fff;
}
.mission .miss-rule .uPic {
  background: #ffe952;
  text-align: center;
  line-height: 19px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: 600;
}
.mission .miss-rule .miss-rule__1 {
  position: absolute;
  height: 0.59rem;
  top: 0.32rem;
  left: -0.27rem;
}
.mission .miss-rule .tag {
  position: relative;
  text-align: center;
  font-size: 0.32rem;
  width: 6.88rem;
  height: 0.53rem;
  line-height: 0.53rem;
  margin: 0.4rem auto;
  padding-left: 0.4rem;
  background: #000;
  color: #fff;
  border-radius: 0.11rem;
}
.mission .miss-rule .tag:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/zhu.png") no-repeat;
  background-size: 0.53rem 0.53rem;
  width: 0.53rem;
  height: 0.54rem;
}
.mission .he-mess {
  position: relative;
  margin: 0.48rem;
  padding: 0.27rem 0.48rem;
  background: #fff;
  border: 0.05rem solid #000;
  border-radius: 0.11rem;
}
.mission .he-mess .avatar {
  position: absolute;
  top: -0.99rem;
  left: 39%;
  width: 1.73rem;
  height: 1.73rem;
  border-radius: 99px;
  border: 2px solid #000;
}
.mission .he-mess .title {
  position: absolute;
  top: 12px;
  left: 18%;
  z-index: 44;
}
.mission .he-mess .title img {
  width: 5.62rem;
}
.mission .he-mess .title p {
  position: absolute;
  text-align: center;
  font-size: 0.48rem;
  font-weight: 600;
  color: #d8423e;
  left: 1.17rem;
  bottom: 0.16rem;
}
.mission .he-mess .hePic {
  margin-top: 1.2rem;
  border-radius: 0.11rem;
  border: 0.05rem solid #000;
}
.mission .he-mess .hePic img {
  width: 100%;
  filter: blur(4px);
}
.mission .he-mess .befNail {
  width: 100%;
}
.mission .star {
  position: relative;
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  background: url("../img/star.png") no-repeat;
  background-size: 100%;
}
.mission .star .starNum {
  position: absolute;
  width: 1.76rem;
  text-align: right;
  height: 30px;
  top: 0.8rem;
  left: 20px;
  font-size: 0.67rem;
  font-weight: 600;
}
.mission .star .starDesc {
  position: absolute;
  bottom: 1.55rem;
  right: 0.27rem;
  width: 5.2rem;
  font-weight: 600;
}
.sub {
  text-align: center;
}
.sub img {
  width: 4.32rem;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
/*# sourceMappingURL=base.css.map */
