* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
textarea {
  outline: none;
}
.cp__title {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.48rem;
  font-weight: 400;
  background: #000;
  color: #fff;
}
.btn {
  text-align: center;
  margin-top: 1.33rem;
}
.btn .btn__js {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  border-radius: 0.11rem;
}
.btn .cp-tag {
  margin-top: 0.4rem;
}
.form {
  padding: 0.67rem;
}
.mission {
  background: url("../img/bg.png");
}
.mission .clrcle {
  position: absolute;
  width: 87%;
  bottom: -0.77rem;
  z-index: 22;
}
.mission .title {
  text-align: center;
}
.mission .title img {
  width: 95%;
  margin-top: 0.24rem;
}
.tag-wuhou img{
  display: block;
  width: 100%;
}
.mission .miss-pro {
  position: relative;
  text-align: center;
}
.mission .miss-pro .pro-stit {
  width: 90%;
  height: 3.92rem;
  margin-top: 0.27rem;
}
.mission .miss-pro .pro-jdt {
  position: absolute;
  width: 8rem;
  height: 0.75rem;
  top: 2.19rem;
  left: 1.01rem;
  background: #75f8ff;
  border: 0.05rem solid #000;
  border-radius: 0.53rem;
  z-index: 11;
}
.mission .miss-pro .pro-red {
  position: absolute;
  top: 2.33rem;
  left: 1.2rem;
  width: 7.76rem;
  height: 0.56rem;
  background: #f13f6c;
  z-index: 22;
  border-radius: 0.53rem;
}
.mission .miss-pro .pro-dingz {
  position: absolute;
  top: 2.85rem;
  left: 2.27rem;
  width: 5.54rem;
  z-index: 33;
}
.mission .miss-pro .pro-day {
  position: absolute;
  width: 100%;
  top: 2.44rem;
  padding: 0 0.29rem;
  font-weight: 600;
  z-index: 44;
  font-size: 0.27rem;
}
.mission .miss-pro .pro-day li {
  display: inline-block;
  margin-right: 0.45rem;
}
.mission .miss-pro .self {
  position: absolute;
  top: 1.33rem;
  left: 1.39rem;
  z-index: 55;
}
.mission .miss-pro .self .self-bg {
  width: 0.75rem;
  height: 1.07rem;
}
.mission .miss-pro .self .self-ava {
  position: absolute;
  top: 0.13rem;
  left: 0.11rem;
  width: 0.53rem;
  height: 0.53rem;
  background-color: #000;
  border-radius: 2.64rem;
}
.mission .miss-pro .ta {
  position: absolute;
  top: 2.83rem;
  left: 1.39rem;
  z-index: 55;
}
.mission .miss-pro .ta .ta-bg {
  width: 0.75rem;
  height: 1.07rem;
}
.mission .miss-pro .ta .ta-ava {
  position: absolute;
  top: 0.43rem;
  left: 0.11rem;
  width: 0.53rem;
  height: 0.53rem;
  background-color: #000;
  border-radius: 2.64rem;
}
.mission .miss-rule {
  position: relative;
  margin: 0.53rem;
  padding: 1.44rem 0.53rem 0.53rem;
  border: 0.05rem solid #000;
  border-radius: 0.11rem;
  background: #fff;
}
.mission .miss-rule .uPic {
  background: #ffe952;
  text-align: center;
  line-height: 19px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: 600;
}
.mission .miss-rule .miss-rule__1 {
  position: absolute;
  height: 0.59rem;
  top: 0.32rem;
  left: -0.27rem;
}
.mission .miss-rule .tag {
  position: relative;
  text-align: center;
  font-size: 0.32rem;
  width: 6.88rem;
  height: 0.53rem;
  line-height: 0.53rem;
  margin: 0.4rem auto;
  padding-left: 0.4rem;
  background: #000;
  color: #fff;
  border-radius: 0.11rem;
}
.mission .miss-rule .tag:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/zhu.png") no-repeat;
  background-size: 0.53rem 0.53rem;
  width: 0.53rem;
  height: 0.54rem;
}
.mission .he-mess {
  position: relative;
  margin: 0.48rem;
  padding: 0.27rem 0.48rem;
  background: #fff;
  border: 0.05rem solid #000;
  border-radius: 0.11rem;
}
.mission .he-mess .avatar {
  position: absolute;
  top: -0.99rem;
  left: 39%;
  width: 1.73rem;
  height: 1.73rem;
  border-radius: 99px;
  border: 2px solid #000;
}
.mission .he-mess .title {
  position: absolute;
  top: 12px;
  left: 18%;
  z-index: 44;
}
.mission .he-mess .title img {
  width: 5.62rem;
}
.mission .he-mess .title p {
  position: absolute;
  text-align: center;
  font-size: 0.48rem;
  font-weight: 600;
  color: #d8423e;
  left: 1.17rem;
  bottom: 0.16rem;
}
.mission .he-mess .hePic {
  margin-top: 1.2rem;
  border-radius: 0.11rem;
  border: 0.05rem solid #000;
}
.mission .he-mess .hePic img {
  width: 100%;
  filter: blur(4px);
}
.mission .he-mess .befNail {
  width: 100%;
}
.mission .star {
  position: relative;
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  background: url("../img/star.png") no-repeat;
  background-size: 100%;
}
.mission .star .starNum {
  position: absolute;
  width: 1.76rem;
  text-align: right;
  height: 30px;
  top: 0.8rem;
  left: 20px;
  font-size: 0.67rem;
  font-weight: 600;
}
.mission .star .starDesc {
  position: absolute;
  bottom: 1.55rem;
  right: 0.27rem;
  width: 5.2rem;
  font-weight: 600;
}
.sub {
  text-align: center;
}
.sub img {
  width: 4.32rem;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
#inform {
  position: relative;
  background: url("../img/bg.png");
  background-position: 0 0;
  width: 100%;
}
#inform .title {
  text-align: center;
  padding: 0.47rem 0;
  font-size: 0.72rem;
  font-weight: 400;
}
#inform .title .inform-sign {
  width: 100%;
}
#inform .inform-desc {
  margin: 0 0.67rem;
}
#inform .inform-desc .inform-att {
  width: 100%;
}
#inform .form .inform-list .item {
  position: relative;
  margin: 0.27rem 0;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}
#inform .form .inform-list .item .item-title {
  position: absolute;
  top: 0.37rem;
  left: -0.27rem;
  width: 2rem;
  font-weight: 600;
  height: 0.59rem;
  line-height: 0.59rem;
  border: 2px solid #000;
  border-radius: 4px;
  color: #7991fe;
  background-color: #000;
}
#inform .form .inform-list .item .item-title .item-num {
  display: inline-block;
  width: 1rem;
  height: 0.59rem;
  text-align: center;
  color: #7991fe;
  background-color: #7991fe;
  color: #fff;
}
#inform .form .inform-list .item .circle {
  position: absolute;
  margin: 0.4rem;
  bottom: -1.2rem;
  z-index: 999;
}
#inform .form .inform-list .item .circle img {
  width: 100%;
}
#inform .form .inform-list .item .item-cont {
  padding: 1.47rem 0.48rem 0.48rem;
}
#inform .form .inform-list .item .item-cont .sex {
  position: relative;
  display: inline-block;
  width: 2.99rem;
  height: 1.07rem;
  line-height: 1.07rem;
  background-color: #ffbd3d;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .sex:first-child {
  margin-right: 1.33rem;
}
#inform .form .inform-list .item .item-cont .sex label {
  margin-left: 0.27rem;
}
#inform .form .inform-list .item .item-cont .sex label .sex-box {
  position: absolute;
  top: 0.27rem;
  width: 0.32rem;
  height: 0.32rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .sex label span {
  margin-left: 0.53rem;
}
#inform .form .inform-list .item .item-cont .sex label img {
  position: absolute;
  top: 0.32rem;
  width: 0.37rem;
  height: 0.37rem;
}
#inform .form .inform-list .item .item-cont .sex input {
  display: none;
}
#inform .form .inform-list .item .item-cont .age {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#inform .form .inform-list .item .item-cont .age select {
  width: 2.13rem;
  height: 1.07rem;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: 600;
  background-color: #ffbd3d;
}
#inform .form .inform-list .item .item-cont .ings {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#inform .form .inform-list .item .item-cont .ings .ing {
  flex: 0 0 2.13rem;
  height: 1.07rem;
  background: #ffbd3d;
  line-height: 1.07rem;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .ings .ing label {
  margin-left: 0.27rem;
}
#inform .form .inform-list .item .item-cont .ings .ing label .ing-box {
  position: absolute;
  top: 0.32rem;
  width: 0.32rem;
  height: 0.32rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .ings .ing label span {
  margin-left: 0.53rem;
  font-size: 0.27rem;
}
#inform .form .inform-list .item .item-cont .ings .ing label img {
  position: absolute;
  top: 0.32rem;
  width: 0.37rem;
  height: 0.37rem;
}
#inform .form .inform-list .item .item-cont .greed {
  position: relative;
  display: inline-block;
  width: 2.99rem;
  height: 1.07rem;
  line-height: 1.07rem;
  background-color: #ffbd3d;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .greed:nth-child(odd) {
  margin-right: 1.33rem;
}
#inform .form .inform-list .item .item-cont .greed:nth-child(3) {
  margin-top: 0.48rem;
}
#inform .form .inform-list .item .item-cont .greed label {
  margin-left: 0.27rem;
}
#inform .form .inform-list .item .item-cont .greed label .greed-box {
  position: absolute;
  top: 0.27rem;
  width: 0.32rem;
  height: 0.32rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .greed label span {
  margin-left: 0.53rem;
}
#inform .form .inform-list .item .item-cont .greed label img {
  position: absolute;
  top: 0.32rem;
  width: 0.37rem;
  height: 0.37rem;
}
#inform .form .inform-list .item .item-cont .greed input {
  display: none;
}
#inform .form .inform-list .item .item-cont .characters .character,
#inform .form .inform-list .item .item-cont .skills .character,
#inform .form .inform-list .item .item-cont .characters .skill,
#inform .form .inform-list .item .item-cont .skills .skill {
  width: 100%;
  height: 100%;
}
#inform .form .inform-list .item .item-cont .characters .character label,
#inform .form .inform-list .item .item-cont .skills .character label,
#inform .form .inform-list .item .item-cont .characters .skill label,
#inform .form .inform-list .item .item-cont .skills .skill label {
  position: relative;
  display: inline-block;
  width: 2.3rem;
  height: 1.07rem;
  line-height: 1.07rem;
  background-color: #ffbd3d;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
}
#inform .form .inform-list .item .item-cont .characters .character label i,
#inform .form .inform-list .item .item-cont .skills .character label i,
#inform .form .inform-list .item .item-cont .characters .skill label i,
#inform .form .inform-list .item .item-cont .skills .skill label i {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0.32rem;
  margin-left: 0.1rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 4px;
}
#inform .form .inform-list .item .item-cont .characters .character label img,
#inform .form .inform-list .item .item-cont .skills .character label img,
#inform .form .inform-list .item .item-cont .characters .skill label img,
#inform .form .inform-list .item .item-cont .skills .skill label img {
  position: absolute;
  top: 0.32rem;
  left: 0.15rem;
  width: 0.37rem;
  height: 0.37rem;
}
#inform .form .inform-list .item .item-cont .characters .character label input,
#inform .form .inform-list .item .item-cont .skills .character label input,
#inform .form .inform-list .item .item-cont .characters .skill label input,
#inform .form .inform-list .item .item-cont .skills .skill label input {
  display: none;
}
#inform .form .inform-list .item .item-cont .characters .character label p,
#inform .form .inform-list .item .item-cont .skills .character label p,
#inform .form .inform-list .item .item-cont .characters .skill label p,
#inform .form .inform-list .item .item-cont .skills .skill label p {
  margin-left: 0.7rem;
}
#inform .form .inform-list .item .item-cont .tel {
  position: relative;
  height: 1.52rem;
  line-height: 1.07rem;
}
#inform .form .inform-list .item .item-cont .tel img {
  display: inline-block;
  width: 1.01rem;
  margin-left: 0.53rem;
}
#inform .form .inform-list .item .item-cont .tel input {
  display: inline-block;
  height: 1.01rem;
  width: 4.53rem;
  border: 2px solid #000;
  background: #ccc;
  outline: none;
  border-radius: 4px;
  vertical-align: top;
  margin-top: 0.27rem;
  margin-left: 0.4rem;
  padding-left: 0.13rem;
}
#inform .form .inform-list .item .item-cont .tel-say {
  text-align: center;
  margin-top: 0.27rem;
  font-size: 0.37rem;
  color: #7f7f7f;
}
#inform .inform-btn {
  text-align: center;
  padding: 20px 0;
}
#inform .inform-btn img {
  width: 65%;
}
#inform .err__tc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
#inform .err__tc .mask {
  position: absolute;
  text-align: center;
  width: 85%;
  height: 7.73rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/tanKuang.png) no-repeat;
  background-size: 100% 100%;
}
#inform .err__tc .mask h2 {
  margin-top: .75rem;
}
#inform .err__tc .mask p {
  margin-top: 2.67rem;
  font-size: .53rem;
}
/*# sourceMappingURL=inform.css.map */
