@import "./base.styl"
#finally
  .he-mess
    .title
      .huantiao
        width 5.8rem
        height .79rem
      .title-word
        left .5rem
    .erweima
      text-align center
      img
        width 2.33rem
        height 2.33rem
    .desc-gain
      padding 1.01rem .48rem .21rem
      font-size .4rem
      color #7c7f7e
    .cont
      .me-pic
        text-align center
        margin-top 40px
      .ava
        width 7.46rem
        height 4rem
        border 2px solid black
        border-radius 4px
      .details
        .detail
          margin-top .27rem
          .detail-mes
            position relative
            display block
            padding-left .7rem
            font-size 18px
            font-weight 600
            color #7f8281
            &:before
              content: ''
              position absolute
              width 10px
              height 10px
              left 10px
              top 6px
              background #d8423e
              border-radius 99px
            span
              color #d8423e
          .tag
            color #000
            font-size .37rem
            padding .05rem .32rem
            margin-right .13rem
            line-height 24px
            background #7991fe
            border 2px solid black
            border-radius .11rem
    .yuanjiao
        position absolute
        margin-left 1px
        width 88%
        z-index 44
    .huoJiang
      left 1.81rem
    .jp
      display flex
      margin-bottom 15px
      img
        flex 0 0 1.8rem
        width 1.8rem
        height 1.8rem
        line-height 2rem
      .jp-desc
        vertical-align middle
        margin-left .53rem
        margin-top .13rem
        h3
          color #d9423e
        p
          margin-top .11rem
          color #7f7e7e
    .huoJ-desc
      margin 1.07rem .05rem .27rem
  .rule
    .cont
      margin-top .93rem
      .detail-mes
      span
        display inline
      .detail-cont
        padding-left 0.7rem
        margin-top .27rem
        font-size .37rem
        color #7e7e7e
        font-weight 600
  .huadeng
    .huadeng-pic
      text-align center
      img
        width 80%
    p
      padding .32rem
      color #d9413f
      font-weight 600
