@import "./base.styl"
#cp
  position relative
  .cp-mask
    position absolute
    height 100vh
    top 0
    left 0
    background black
    .cp-end
      background rgb(200, 200, 200)
      margin 50% .53rem
      padding 1.07rem .8rem
      text-align center
      .end-pic
        width 3.33rem
        height 3.33rem
        margin-top .27rem
  .cp-content
    .cp-header
      .header-pic
        width 100%
        display block
    .cp-tag
      position relative
      text-align center
      .wuhou
        position absolute
        top -.75rem
        img
          width 98%
      .cp-tag__Pic
        width 100%
        display block
      .cp-btn
        position absolute
        bottom .4rem
        left 1.87rem
        .cp-btn__pic
          width 6.1rem
          height 2.13rem
    .wh-hezuo
      img
        display block
        width 100%
  // .cp-fuli
  //   margin .8rem
  //   border-1px(rgb(179, 179, 179))
  //   padding .53rem .8rem .8rem .27rem
  //   .att
  //     width 5.33rem
  //     height .8rem
  //     margin 0 auto
  //     line-height .8rem
  //     text-align center
  //     border-1px(rgb(179, 179, 179))
  //   .fuli
  //     margin-top 1.07rem
  //     .fuli-item
  //       display flex
  //       margin-top 1.2rem
  //       .fuli-item__pic
  //         flex 0 0 1.6rem
  //         width 1.6rem
  //         height 1.6rem
  //         border-1px(rgb(179, 179, 179))
  //         border-radius 99px
  //       .fuli-cont
  //         flex 1
  //         margin-left .53rem
  //         .fuli-desc
  //           margin-top .21rem
