@import "./base.styl"
#inform
  background url('../img/bg.png')
  background-position 0 0
  width 100%
  .title
    text-align center
    padding .47rem 0
    font-size .72rem
    font-weight 400
    .inform-sign
      width 100%
  .inform-desc
    margin 0 .67rem
    .inform-att
      width 100%
  .form
    .inform-list
      .item
        position relative
        margin .27rem 0
        background-color #fff
        border 2px solid black
        border-radius 8px
        .item-title
          position absolute
          top .37rem
          left -.27rem
          width 2rem
          font-weight 600
          height .59rem
          line-height .59rem
          border 2px solid black
          border-radius 4px
          color #7991fe
          background-color #000
          .item-num
            display inline-block
            width 1rem
            height .59rem
            text-align center
            color #7991fe
            background-color #7991fe
            color #fff
        .circle
          position absolute
          margin .4rem
          bottom -1.2rem
          z-index: 999
          img
            width 100%
        .item-cont
          padding 1.47rem .48rem .48rem
          .sex
            position relative
            display inline-block
            width 2.99rem
            height 1.07rem
            line-height 1.07rem
            background-color #ffbd3d
            border 2px solid black
            border-radius 4px
            &:first-child
              margin-right 1.33rem
            label
              margin-left .27rem
              .sex-box
                position absolute
                top .27rem
                width .32rem
                height .32rem
                background #fff
                border 2px solid black
                border-radius 4px
              span
                margin-left .53rem
              img
                position absolute
                top .32rem
                width .37rem
                height .37rem
            input
              display none
          .age
            display flex
            justify-content space-between
            text-align center
            select
              width 2.13rem
              height 1.07rem
              border 2px solid black
              border-radius 4px
              font-weight 600
              background-color #ffbd3d
          .ings
            position relative
            display flex
            justify-content: space-between
            .ing
              flex 0 0 2.13rem
              height 1.07rem
              background #ffbd3d
              line-height 1.07rem
              border 2px solid black
              border-radius 4px
              label
                margin-left .27rem
                .ing-box
                  position absolute
                  top .32rem
                  width .32rem
                  height .32rem
                  background #fff
                  border 2px solid black
                  border-radius 4px
                span
                  margin-left .53rem
                  font-size .27rem
                img
                  position absolute
                  top .32rem
                  width .37rem
                  height .37rem
          .greed
            position relative
            display inline-block
            width 2.99rem
            height 1.07rem
            line-height 1.07rem
            background-color #ffbd3d
            border 2px solid black
            border-radius 4px
            &:nth-child(odd)
              margin-right 1.33rem
            &:nth-child(3)
              margin-top .48rem
            label
              margin-left .27rem
              .greed-box
                position absolute
                top .27rem
                width .32rem
                height .32rem
                background #fff
                border 2px solid black
                border-radius 4px
              span
                margin-left .53rem
              img
                position absolute
                top .32rem
                width .37rem
                height .37rem
            input
              display none
          .characters,.skills
            .character,.skill
              width 100%
              height 100%
              label
                position relative
                display inline-block
                width 2.3rem
                height 1.07rem
                line-height 1.07rem
                background-color #ffbd3d
                border 2px solid black
                border-radius 4px
                margin-right .1rem
                margin-top .1rem
                i
                  position absolute
                  width 12px
                  height 12px
                  top .32rem
                  margin-left .1rem
                  background #fff
                  border 2px solid black
                  border-radius 4px
                img
                  position: absolute
                  top: 0.32rem
                  left .15rem
                  width: 0.37rem
                  height: 0.37rem
                input
                  display none
                p
                  margin-left .7rem
          .tel
            position relative
            height 1.52rem
            line-height 1.07rem
            img
              display inline-block
              width 1.01rem
              margin-left .53rem
            input
              display inline-block
              height 1.01rem
              width 4.53rem
              border 2px solid black
              background #ccc
              outline none
              border-radius 4px
              vertical-align: top
              margin-top .27rem
              margin-left .4rem
              padding-left .13rem
          .tel-say
            text-align center
            margin-top .27rem
            font-size .37rem
            color #7f7f7f
  .inform-btn
    text-align center
    padding 20px 0
    img
      width 65%
