@import "./base.styl"
#mission1
  .miss-rule
    position relative
    .desc
      width 120px
    .uPic
      background #ffe952
      text-align center
      line-height 19px
      box-sizing border-box
      border 2px solid black
      border-radius 4px
      font-weight 600
    .upload
      text-align center
      height 5.33rem
      line-height 5.33rem
      background #d6d6d6
      border 2px solid black
      border-radius 4px
      .upload-pic
        vertical-align middle
    .wxNum
      width 100%
      height .96rem
      background #d6d6d6
      padding-left .13rem
      border 2px solid black
      border-radius .11rem
    .say
      text-align center
      .sayStory
        width 95%
        border-radius .11rem
        border 2px solid black
        padding .13rem
        background #d6d6d6
  .sub
    text-align center
    img
      width 4.32rem
  .he-mess
    position relative
    .circle
      position absolute
      width 87%
      bottom  -.77rem
      z-index 22
    .he-mess__desc
      padding .4rem
      font-weight 600
    span
      background #fee926
      border 1px solid black
      border-radius .11rem
      padding .05rem
      margin-right .16rem
