@import "./base.styl"
#mission3
  .cont
    text-align center
    .exp
      width 95%
      height 4.92rem
      margin-top 1.07rem
      border 2px solid black
      border-radius .05rem
    .upload
      margin-top 1.07rem
      text-align center
      height 5.33rem
      line-height 5.33rem
      background #d6d6d6
      border 2px solid black
      border-radius 4px
      .missPic5
        width 100%
  .upload
    display flex
    width 96%
    text-align center
    margin 0 5px
    .upload-me,.upload-it
      flex 1
      width 3.57rem
      height 4.8rem
      border-radius .11rem
      border 1px solid black
      background #d6d6d6
      .meAvar
        margin-top 1.2rem
        width 2.4rem
        height 2.4rem
      .meAvar-desc
        font-weight 600
  .sub
   text-align center
   img
     width 4.32rem
