@import "./base.styl"
#mission2
  .voice
    position relative
    text-align center
    img
      margin-top 1.27rem
      width 68%
    .act
      position absolute
      bottom 1.78rem
      left 3.73rem
      &:after
        content: '点击播放'
        position absolute
        width 50px
        bottom -.85rem
        left -.43rem
      .play,.pause
        width .67rem
        height .75rem
    .restart
      font-size .48rem
      font-weight 600
  .waitMition
    width 100%
    text-align center
    font-size .53rem
    margin-top 1.07rem
