@import "./base.styl"
#ques
  background url('../img/bg.png')
  height 100vh
  .title
    text-align center
    img
      width 95%
      margin .27rem 0
  .ques-tag
    text-align center
    img
      width 90%
  .ques-form
    padding .27rem 5%
    .questions
      .question
        position relative
        background #fff
        border 2px solid black
        border-radius 4px
        padding 1.5rem .5rem .5rem .5rem
        .ques-tag__pic
          position absolute
          height .6rem
          width 5rem
          left -.27rem
          top .27rem
        .question-age
          position relative
          height 1.48rem
          line-height 1.48rem
          background-color #457ceb
          border 2px solid black
          border-radius 4px
          margin-bottom .24rem
          padding-left .27rem
          i
            position absolute
            width .32rem
            height .32rem
            background #fff
            top .53rem
            left .4rem
            border-radius .11rem
            border 2px solid black
          img
            position absolute
            top .56rem
            left .45rem
            width .37rem
            height .37rem
          span
            margin-left .8rem
            font-size .43rem
            font-weight 600
        .question-kind
          position relative
          display inline-block
          width 2.77rem
          height 1.07rem
          line-height 1.07rem
          background-color #fe6d6b
          border 2px solid black
          border-radius 4px
          &:nth-child(even)
            margin 0 1.87rem .53rem 0
          label
            margin-left .27rem
            span
              margin-left .7rem
              font-size .43rem
              font-weight 600
            i
              position absolute
              width .32rem
              height .32rem
              background #fff
              top .3rem
              left .4rem
              border-radius .11rem
              border 2px solid black
            img
              position absolute
              top .3rem
              left .43rem
              width .37rem
              height .37rem
        .sub
          text-align center
          label
            img
              width 70%
        .keep
          text-align center
          .keep-btn
            width 5.33rem
            height 1.33rem
