@import "./base.styl"
#success
  .form
    position relative
    .user
      text-align center
      margin-top .8rem
      img
        width 3.2rem
        height 3.2rem
        border-radius 99px
        border-1px(rgb(179, 179, 179))
      .user-name
        margin-top .43rem
      .user-desc
        margin-top .53rem
    .tags
      margin .48rem .67rem
      font-size 0
      text-align center
      .tag
        display inline-block
        font-size .37rem
        text-align center
        line-height 1.07rem
        width 2.27rem
        height 1.07rem
        margin .0965rem
        border-1px(rgb(179, 179, 179))
  .cp-btn
    .cp-tag
      color #000
