@import "./base.styl"
#waiting
  position relative
  background url('../img/bg.png')
  .title
    text-align center
    img
      width 95%
      margin-top .27rem
  .djs
    position relative
    text-align center
    img
      width 90%
    .time
      position absolute
      top 1.28rem
      left 0
      p
        display inline-block
        font-size .53rem
        color red
        margin-left 1.5rem
        font-weight 600
  .persent,.improve,.actRule
    text-align center
    position relative
    .per-num
      position absolute
      top 1.07rem
      right 1.28rem
      font-size .53rem
      font-weight 600
    img
      width 90%
      margin-top .48rem
  .attention
    height 9.2rem
    width 90%
    margin .48rem auto
    font-size .43rem
    font-weight 600
    color red
    line-height .67rem
    padding 1.71rem 1.44rem
    background url('../img/attention.png') no-repeat
    background-size 100% 100%
    box-sizing: border-box
    .att-pic
      text-align center
      margin 20px 0
      img
        width 2.27rem
        height 2.27rem
  .ok
    position absolute
    width 100%
    height 100%
    color red
    z-index 1
