<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>填写资料</title>

  <script src="./js/flexible.js"></script>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>

  <script type="text/javascript">

    $youziku.load("body", "b247a4899ca34bd29da8076da3ddafe4", "jdzhonyuanjian");

    $youziku.draw();

  </script>

  <link rel="stylesheet" href="./css/inform.css">

</head>

<body>

  <div id="inform">

    <h2 class="cp__title" v-if="isWeiXin()">{{title}}</h2>

    <h1 class="title">

      <img class="inform-sign" src="./img/inform-sign.png" alt="">

    </h1>

    <p class="inform-desc">

      <img class="inform-att" src="./img/inform-att.png" alt="">

    </p>

    <form action="{php echo $this->createMobileurl('Register');}" method="post">

      <div class="form">

        <ol class="inform-list">

          <!-- 性别 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.1</span>性别
            </p>

            <div class="item-cont">

              <div class="sex" v-for="(item,index) in sex" @click='age(index)'>

                <label  >

                  <i class="sex-box"></i>

                  <img src="./img/ok.png" v-if="sex_index == index">

                  <span>{{item.name}}</span>

                  <input type="radio" name="sex" :value="item.en">

                </label>

              </div>

            </div>

            <div class="circle">

              <img src="./img/yuanjiao.png" alt="">

            </div>

          </li>

          <!-- 年龄 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.2</span>年龄
            <div class="item-cont">

              <div class="age">

                <select name="year" id="tag-age__year" >

                  <option v-for="item in year" :value='item' :selected="item == 1990">{{item}}年</option>

                </select>

                <select name="month" id="tag-age__month" >

                  <option v-for="m in 12" :value='m'>{{m}}月</option>

                </select>

                <select name="day" id="tag-age__day" >

                  <option v-for="d in 31" :value='d'>{{d}}日</option>

                </select>

              </div>

              <div class="tag-age">

              </div>

            </div>

            <div class="circle">

              <img src="./img/yuanjiao.png" alt="">

            </div>

          </li>

          <!-- 状态 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.3</span>状态
            </p>

            <div class="item-cont">

              <div class="ings">

                <div class="ing" v-for="(item,index) in ing" @click="zhuantai(index)">

                  <label class="ing-tag"  >

                    <i class="ing-box"></i>

                    <img src="./img/ok.png" v-if="ing_index == index">

                    <span>{{item.name}}</span>

                    <input type="radio" style="display:none"  name="work_status" :value="item.zh">

                  </label>

                </div>

              </div>

            </div>

            <div class="circle">

              <img src="./img/yuanjiao.png" alt="">

            </div>

          </li>

          <!-- 学历 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.4</span>学历
            </p>

            <div class="item-cont">

              <div class="greed" v-for="(item,index) in greed" @click='xueli(index)'>

                <label  >

                  <i class="greed-box"></i>

                  <img src="./img/ok.png" v-if="greed_index == index">

                  <span>{{item.name}}</span>

                  <input type="radio" :id="item.en" name="education" :value="item.en">

                </label>

              </div>

            </div>

            <div class="circle">

              <img src="./img/yuanjiao.png" alt="">

            </div>

          </li>

          <!-- 性格 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.5</span>性格
            </p>

            <div class="item-cont">

              <ul class="characters">

                <li class="character">

                  <label v-for="(item,index) in characters">

                    <i></i>

                    <input type="checkbox" name="nature[]" :value="item.id" @click=pick(index)>

                    <img src="./img/ok.png" alt="" v-show="arr.indexOf(index) >= 0">

                    <p>{{item.name}}</p>

                  </label>

                </li>

              </ul>

            </div>

            <div class="circle">

              <img src="./img/yuanjiao.png" alt="">

            </div>

          </li>

          <!-- 技能 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.6</span>技能
            </p>

            <div class="item-cont">

              <ul class="skills">

                <li class="skill">

                  <label v-for="(item,index) in skills">

                    <i></i>

                    <input type="checkbox" name="skill[]" :value="item.id" @click=jinen(index)>

                    <img class="jn" src="./img/ok.png" v-show="jn.indexOf(index) >= 0">

                    <p>{{item.name}}</p>

                  </label>

                </li>

              </ul>

            </div>

            <div class="circle">

              <img src="./img/yuanjiao.png" alt="">

            </div>

          </li>

          <!-- 手机 -->

          <li class="item">

            <p class="item-title">

              <span class="item-num">NO.7</span>手机
            </p>

            <div class="item-cont">

              <div class="tel">

                <img src="./img/Smartphone.png" alt="">

                <input type="text" name="mobile" placeholder="请输入手机号">

              </div>

              <p class="tel-say">联系方式只有工作人员才能查看，方便联系</p>

            </div>

          </li>

        </ol>

        <div class="inform-btn">

          <label @click="sub(event)">

            <input class="btn__js" style="display:none" type="submit" name="submit"/>

            <img src="./img/inform-btn.png" alt="">

          </label>

        </div>

      </div>

    </form>
    <div class="tag-wuhou">
      <img src="./img/wh-footer.png" alt="">
    </div>
    <div class="err__tc" @click="show()" v-show="tcShow">
      <div class="mask">
        <h2>你还未选择哦</h2>
        <p>资料还未填完，请完善</p>
      </div>
    </div>
    <div class="time_out" style="width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);position: fixed;top: 0;z-index: 999;display: none;">
      <div style="width: 100%;height: 100%;display: flex;justify-content: center;align-items: center">
          <img src="./img/time_out.png" alt="" style="width: 70%">
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

  <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>

  <script src="./js/wx.js" charset="utf-8"></script>

  <script src="./js/mixin.js" charset="utf-8"></script>
  <script>
    var tags = {$tag};
    console.log(tags)
    var vm = new Vue({

      el: '#inform',

      data: {
        title: '填写资料',
        year: [],
        sex: [{'en':'1','name':'男士'},{'en':'2','name':'女士'}],
        sex_index: 111,
        ing: [{'zh':'1','name':'在校生'},{'zh':'2','name':'工作者'},{'zh':'3','name':'自由职业'}],
        ing_index: 222,
        greed: [{'en':'1','name': '高中及以下'},{'en': '2','name': '大专'},{'en': '3','name':'本科'},{'en':'4','name':'硕士及以上'}],
        greed_index: 333,
        characters: [],
        char: [],
        skills: [],
        skil: false,
        arr:[],
        jn:[],
        tcShow: false
      },
      mixins: [mixin],

      mounted () {
        this.characters = tags[1][1]
        this.skills = tags[1][2]
        for (var i = 1970; i <= 2017; i++) {

          this.year.push(i)

        }


      },

      methods: {
        show: function () {
          console.log(1);
          return this.tcShow = false
        },
        age: function (index,item) {
          if (index==0) {
            console.log(0)
            this.characters = tags[1][1]
            this.skills = tags[1][2]
          } else {
            this.characters = tags[2][1]
            this.skills = tags[2][2]
          }
          this.sex_index = index
        },

        zhuantai: function (index) {

          this.ing_index = index

        },

        xueli: function (index) {

          this.greed_index = index

        },

        pick:function(index){

          if(this.arr.indexOf(index) >= 0){

            this.arr.splice(this.arr.indexOf(index),1);

          }else{

            this.arr.push(index);

          }

        },
        jinen: function (index) {
          if(this.jn.indexOf(index) >= 0){
            this.jn.splice(this.jn.indexOf(index),1);
          }else{
            this.jn.push(index);
          }
        },
        sub: function (event) {
          var sex = $('input:radio[name="sex"]:checked').val()
          var ing = $('input:radio[name="work_status"]:checked').val()
          var greed = $('input:radio[name="education"]:checked').val()
          var charact = $('input:checkbox[name="nature[]"]:checked').val()
          var skill = $('input:checkbox[name="skill[]"]:checked').val()
          var mobile = $('input:text[name="mobile"]').val()
          var re =/^1[3|7|5|8]\d{9}$/
          // event.preventDefault()
          if (sex==null || ing==null || greed==null || charact==null || skill==null) {
            event.preventDefault()
            this.tcShow = true
          } else {
            if (re.test(mobile)) {
              return true
            } else {
              event.preventDefault()
              alert('请输入正确的手机号好吗？')
              return false
            }
          }
        }
      }

    })

  </script>
  <script>
    //微信配置

    var shareMeta = {

        imgUrl:"http://wuhouhd.oss-cn-shanghai.aliyuncs.com/share_img.jpg",

        link : "{$_W[siteroot]}app/{php echo $this->createmobileurl('index',array('from_openid'=>$_W['openid']));}",
        desc : "你的好友{php echo json_decode($user['json_nickname']);}感受到了洪荒之力的召唤，正在参与南昌一周CP报名，快点进去围观",

        title : "南昌最火一周CP来袭，{php echo json_decode($user['json_nickname']);}邀你一起寻找真爱",

    };

    wx.ready(function () {

        wx.showOptionMenu();

        wx.onMenuShareAppMessage(shareMeta);

        wx.onMenuShareTimeline(shareMeta);

    });

    var jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);};

    jssdkconfig.debug = false;

    jssdkconfig.jsApiList = [

        'checkJsApi',

        'showOptionMenu',

        'onMenuShareTimeline',

        'onMenuShareAppMessage',

    ];

    wx.config(jssdkconfig);

  </script>
</body>

</html>
